@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/* reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* variables */
:root{
        /* fonts */
        --FF: 'Nunito', sans-serif;

        /* colors */
        --header-bg:#222;
        --header-light:hsla(0, 0%, 13%, 0.75);
        --header-color:white;

        /* spacing */
        --header-pad:0.5rem 1rem;
        --header-margin:0.5rem 1rem;

        /* border */
        --border:1px solid #222;

        /* shadow */
        --shadow:0.2vh 0.2vh 0.2vh rgb(83, 83, 83);
}

/* general */

body{
    font-family: var(--FF);
    min-height: 100vh;
    font-size:1.4rem;
    display: flex;
    flex-direction: column;
}

main{
    flex:1;
    background-color: rgb(0, 0, 0);
    /* background-color: #2b2b2b; */
    color: white;
}

header,footer{
    background-color: var(--header-bg);
    color: var(--header-color);
}

.inline{
    display: inline;
}

/* header */

.header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__logo{
    display: flex;
    flex-flow: row nowrap;
    padding: var(--header-pad);
    width:100%;
}

.header__logo-img{
    width: 100px;
    height: auto;
    margin: var(--header-margin);
    margin-bottom: 0;
}

.header__h1{
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;      
    margin-right: 1rem;
    font-weight: bolder;
    font-size:2rem;
}

.header__hr{
    width: 80%;
    color: white;
    margin: auto;
}

/* .header__nav{
    color:whitesmoke;
    width: 100%;
    border-bottom: var(--border);
    padding: var(--header-pad);
} */

.header__nav{
    color: white;
    text-shadow: var(--shadow);
}

.header__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    /* padding: var(--header-pad); */
}

.header__ul li a:any-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header__ul li a:hover,
.header__ul li a:focus{
    font-weight: bolder;
    display: inline-block;
    /* transform-origin: center; */
    animation: big 0.7s ease-in-out forwards;
}

@keyframes big{
    0%{
        transform: scale(1);
    }
    80%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1.1);
    }
}

/* footer */

.footer{
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
}

.footer__fig{
    display: flex;
    flex-flow: row nowrap;
    padding: var(--header-pad);
    /* justify-content: space-evenly; */
    /* align-self: center; */
}

.footer__fig figure{
    padding: var(--header-margin);
    /* display: flex;
    flex-flow: row nowrap; */
}

.footer__fig-img{
    width: 30px;
    height: 30px;
    /* align-self: center; */
}

.footer__a{
    font-size: 1rem;
    align-self: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.footer__a a:any-link{
    color: white;
}

.footer__p-last{
    text-decoration: underline; 
    font-size:1.3rem;
    margin: auto;
    text-align: center;
}

.footer__column{
    display: flex;
    flex-flow: column nowrap;
}


/* utlitlies */

.block{
    display: block;
    width: 65%;
    margin: 7rem 100px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.capital{
    text-transform: uppercase;
}

/* main */

.main{
    display: flex;
    flex-flow: column nowrap;
}

.main__bgimg{
    background-color: black;
    background-image: url('./images/garagebg.jpg');
    background-size: cover;
    background-position:right;
    height: 700px;
    margin: 3rem 0 2rem 0;
}

.main__h1{
    color: white;
    font-size: 2.5rem;
    text-transform:uppercase;
    text-shadow: var(--shadow);
    font-weight: bolder;
    
}

.main__p{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.visitus{
    margin: 1rem 1rem 1rem 3rem;
    font-size: 1rem;
    width: 40%;
}

.vertical{
    margin: 0.5rem;
    border-left: 2px solid rgb(255, 255, 255);
    width: 20%;
}

/* service */

.hero{
    background-image: url(./images/servicebg.png);
    background-size: cover;
    background-position: bottom;
    min-height: 305vh;
    padding: 1rem;
    position: relative;
}

.test{
    margin: 2rem auto;
    width: 54vw;
    height: 15vh;
    /* border: #222 solid 2px; */
    border-radius: 2vh;
    background-color: hsl(0, 0%, 81%);
    color: rgb(0, 0, 0);
    place-content: center;
    padding: 2vh;
    text-transform: capitalize;
    /* text-align: center; */
    position: relative;
}

.test__img-1{
    margin: 1vh;
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
}

.test__img-2{
    margin: 1.5vh;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

.service-1{
    position: absolute;
    background-image: url("./images/carlift.png");
    background-size: cover;
    top: 35vh;
    left: 20vw;
    width: 40vw;
    height: 55vh;
    border: rgb(28, 28, 28) solid 2px;
    border-radius: 3vh;
    /* padding: 3vh; */
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.service__block{
    /* margin-top: 3vh; */
    background-color: hsla(0, 0%, 0%, 0.7);
    padding: 2rem;
    width: 40vw;
    height: 55vh;
    place-content: center;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3vh;
}

.service__block-h1{
    font-size: 1.5vw;
    text-align: left;
}

.service__block-ul{
    font-size: 1.5vw;
    text-align: left;
    margin: 0.5vw;
}

.service__block-p{
    font-size: 1vw;
}

.service__block-h{
    font-size: 2vw;
}

.service-2{
    position: absolute;
    background-image: url("./images/preventative.jpg");
    background-size: cover;
    top: 100vh;
    right: 20vw;
    width: 40vw;
    height: 55vh;
    border: rgb(28, 28, 28) solid 2px;
    border-radius: 3vh;
    /* padding: 3vh; */
    text-align: center;
}

.service-3{
    position: absolute;
    background-image: url("./images/tire.jpg");
    background-size: cover;
    top: 165vh;
    left: 20vw;
    width: 40vw;
    height: 55vh;
    border: rgb(28, 28, 28) solid 2px;
    border-radius: 3vh;
    /* padding: 3vh; */
    text-align: center;
}

.service-4{
    position: absolute;
    background-image: url("./images/diagnostics.jpg");
    background-size: cover;
    top: 230vh;
    right: 20vw;
    width: 40vw;
    height: 55vh;
    border: rgb(28, 28, 28) solid 2px;
    border-radius: 3vh;
    /* padding: 3vh; */
    text-align: center;
}

.h1__contactus{
    background-color: #2f2f2f;
    position: absolute;
    bottom:4vh;
    left: 23vw;
    width: 50vw;
    text-align: center;
    color: aliceblue;
    margin: 1rem auto;
    font-size: 1vw;
    padding: 0.5rem;
    border-radius: 15px;
}

.bold{
    font-weight: 900;
}

/* about */

.about{
    background-color: #2b2b2b;
    color: #ddd;
    padding: 4vh 4vw;
    word-spacing: 0.2vw;
    font-weight: 500;
}

.about__block{
    background-color: hsl(0, 0%, 10%);
    border: #ddd 0.1vh solid;
    border-radius: 2vh;
    width: 75vw;
    place-content: center;
    margin:2vh auto;
    padding: 2vw;
}

.about__block-2{
    font-size: 1.1vw;
    width: 70vw;
}

.about__flex{
    display: flex;
    flex-flow: row nowrap;
    width: 72vw;
    margin: 2vh auto;
    font-size: 1vw;
}

.about__flex-block{
    background-color: hsl(0, 0%, 10%);
    margin:1vh 1vw;
    width: 45vw;
    padding: 2vw;
    border-radius: 2vh;
    border: #ddd 0.1vh solid;
    /* place-content: center; */
}

.about__h1{
    margin: 0.5vh 0.5vw;
    text-align: center;
    text-shadow: var(--shadow);
    /* padding: 1vh 1vw; */
}

.about__heading{
    margin: 0.5vh 0.5vw;
    text-shadow: var(--shadow);
}

.about__link:any-link{
    color:#3498db;
    text-decoration:none;
    font-weight: 900;
}

.about__link:hover,.about__link:focus{
    color:rgb(36, 102, 147) ;
}

.about__block-last{
    background-color: hsl(0, 0%, 10%);
    border-radius: 2vh;
    border: #ddd 0.1vh solid;
    font-size: 1.1vw;
    width: 55vw;
    margin: 2vh auto;
    padding: 1vw;
    place-content: center;
    text-align: center;
}
